.main-container{
    font-family: 'VT323', monospace;
    color: green;
    width: 500px;
  text-align: center;
  background-color: black
}


.gameboard{
 
    
    

}

h2 {
    font-size: 40px;
}

p{
    font: 400;
    font-size: 40px;
}

.scores{
    
    
        color: green;
        height: 20vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

    
    
    
}

.score-player{
    justify-content: space-around;
    border: 1px solid blue;
    
    
}
.score-pc{
    justify-content: space-around;
    border: 2px solid green;
}


.button-game{
   
    justify-content: center;

 
}

.button-wrapper{
    text-align: center;
    padding: 20px;

}

.btn{
    padding: 10px;
    border: 2px solid green;
    background-color: black;
    color: green;
    font-family: 'VT323', monospace;
    font-size: 20px;
}